body {
  background-color: #0b1d51;
}

h1 {
  color: #ffe3a9;
  text-align: center;
  font-size: 60px;
}

p {
  color: #ffbda9;
  text-align: center;
  font-size: 40px;
}

img {
  margin-left: 660px;
  width: 10%;
}